<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inactive</key>
            <dict>
                <key>frame</key>
                <string>{{36,0},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>active</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>indicator.png</string>
            <key>size</key>
            <string>{72,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:126707969ca9c7b6260ee34f30ccb282:db409cefd34e57e12305ee7b3fb3df22:af7d4cf42662df6f3a316dd3d3cd3d3f$</string>
            <key>textureFileName</key>
            <string>indicator.png</string>
        </dict>
    </dict>
</plist>
